*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-all:'Roboto', sans-serif;
}

body{
  position: relative;
}

main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
  max-width: 82.1rem;

  margin: 0 auto;
}

.time{
  display: flex;
  flex-direction: row;
}

.controls{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.controls svg path:hover{
  fill: #131218;
  cursor: pointer;
}

.controls .on svg path{
  fill: #636375;
}

.time h1{
  font-family: var(--ff-all);
  font-style: normal;
  font-weight: 500;
  font-size: 12.166rem;
  line-height: 14.8rem;
  color: #323238;
}

.screen2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.screen2 div{
  padding: 4.8rem;
  
  background: #E1E1E6;
  
  border-radius: 2.4rem;

  cursor: pointer;
}


.hide{
  display: none;
}

.screen2 .forest.select{
  background: #071E22;
}

.screen2 .rain.select{
  background: #02799D;
}

.screen2 .coffee.select{
  background: #1f1805;
}

.screen2 .fireplace.select{
  background: #FF5C1B;
}

.screen2 .select svg path{
  fill: #ffffff;
}

.screen2 div .back{
  content: "";

  margin: 0;
  padding: 0;
 
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  
  border-radius: 0;
  
  width: 100vw;
  height: 100vh;
}

.screen2 div .back.fores{
  background: linear-gradient(0deg, rgba(149,121,100,1) 0%, rgba(95,196,90,1) 100%);
}

.screen2 div .back.r{
  background: linear-gradient(0deg, rgba(24,54,80,1) 0%, rgba(67,145,167,1) 30%, rgba(173,176,177,1) 100%);
}

.screen2 div .back.cof{
  background: linear-gradient(0deg, rgba(75,54,33,1) 0%, rgba(102,66,45,0.8) 43%, rgba(142,119,74,0.5) 100%);
}

.screen2 div .back.fire{
  background: linear-gradient(0deg, rgba(255,92,27,0.5) 0%, rgba(36,62,54,0.5) 100%);
}